

<div class="panel callout">

<div class="row">

        <div class=" large-8 columns pull-6 radius">
          <br><br>
        <div class="flowplayer flex-video">
        <video>
        <source type="video/mp4" src="/my_video.mp4">
        </video>
        </div>

        </div>

        <!-- This is the sign up part-->
        <div class="large-4 columns push-3">

           <!-- <%#= link_to "Login With Facebook","/auth/facebook",class:" button btn-facebook push-1" %>

          <button onclick="window.navigate('/auth/facebook')" class="button btn-facebook push-1">Login With Facebook </button>-->
          <button onclick="javascript:window.location = '/auth/facebook';"  class="button btn-facebook push-1 radius"> Login With Facebook</button>

          <%#= link_to "Linked In","/auth/linkedin",class:"btn btn-large  btn-linkedin" %>
            <%#= link_to "Twitter","#",class:"btn-large  btn-twitter" %>



           <!-- Horizontal line-->
          <div style="height: 2px; background-color: black; text-align: center">
                <span style="background-color: white; position: relative; top: -0.5em;">
                   OR
                </span>
          </div>
          <!-- this is for giving gap between facebook button and the form-->


          <h2 class="push-3">Sign up</h2>

          <div class="panel  radius ">
            <%= render "shared/user_signup" %>
          </div>


        </div>
    </div>

</div>

<!--<div ng-controller="PlaceUnsignedCtrl">
    <button ng-click="getPlaces()" class="tiny">Get Places</button>
  {{1+2}}


  <div ng-repeat="place in places[0]">
    <a ng-href="place/{{place.id}}">




          <div ng-repeat="img in place.images" ng-hide="!isCurrentSlideIndex($index)">
          <img src = {{img.image.normal.url}} alt = "image" />
          </div>


    </a>
  </div>-->






<div class="panel callout">
    <div id="masonry-container" >


          <% @places.each do |place| %>

            <div class="panel large-3 columns callout">
                <div class="">
                  <a href="/places/<%= place.id %>">
                      <!--<ul data-orbit>
                          <%# place.place_albums.each do |img| %>
                              <li>
                                 <%#= image_tag "http://localhost:3000#{img.image_url.to_s}" %>
                              </li>
                          <%# end %>

                      </ul>-->

                    <%= image_tag "#{@root_path}#{place.place_albums.first.image_url.to_s}" %>

                  </a>
                </div>
                <div class="panel">
                     <%= place.description %>
                </div>
            </div>

          <% end %>


    </div>

</div>

<div class="feedback fixed text-right">

    <%#=image_tag("feed_back.png") %>
    <%=link_to image_tag("feed_back.png"),new_feed_back_path %>
</div>