

<div class="panel ">


<!--
<div class="row">

        <div class=" large-8 columns pull-6 radius">
          <br><br>
        <div class="flowplayer flex-video">
        <video>
        <source type="video/mp4" src="/my_video.mp4">
        </video>
        </div>

        </div>

        &lt;!&ndash; This is the sign up part&ndash;&gt;
        <div class="large-4 columns push-3">

           &lt;!&ndash; <%#= link_to "Login With Facebook","/auth/facebook",class:" button btn-facebook push-1" %>

          <button onclick="window.navigate('/auth/facebook')" class="button btn-facebook push-1">Login With Facebook </button>&ndash;&gt;
          <button onclick="javascript:window.location = '/auth/facebook';"  class="button btn-facebook push-1 radius"> Login With Facebook</button>

          <%#= link_to "Linked In","/auth/linkedin",class:"btn btn-large  btn-linkedin" %>
            <%#= link_to "Twitter","#",class:"btn-large  btn-twitter" %>



           &lt;!&ndash; Horizontal line&ndash;&gt;
          <div style="height: 2px; background-color: black; text-align: center">
                <span style="background-color: white; position: relative; top: -0.5em;">
                   OR
                </span>
          </div>
          &lt;!&ndash; this is for giving gap between facebook button and the form&ndash;&gt;


          <h2 class="push-3">Sign up</h2>

          <div class="panel  radius ">
            <%#= render "shared/user_signup" %>
          </div>


        </div>
</div>-->




   <div id = "masonry-container">

     <div class="panel large-3 columns callout">
       <button onclick="javascript:window.location = '/auth/facebook';"  class="button btn-facebook push-3 radius"> Login With Facebook</button>

       <%#= link_to "Linked In","/auth/linkedin",class:"btn btn-large  btn-linkedin" %>
       <%#= link_to "Twitter","#",class:"btn-large  btn-twitter" %>



       <!-- Horizontal line-->
       <div style="height: 2px; background-color: black; text-align: center">
                <span style="background-color: white; position: relative; top: -0.5em;">
                   OR
                </span>
       </div>
       <!-- this is for giving gap between facebook button and the form-->


       <h2 class="push-4">Sign up</h2>

       <div class="panel  radius ">
         <%= render "shared/user_signup" %>
       </div>
     </div>





     <div class="panel large-7 columns callout">
      <div>

        <div class="text-center">
        <%=image_tag "logo2.png",height:"350px",width: "350px" %>
        </div>
         <br>
         <div class="">
             <div class="large-4 columns panel callout text-center">
               <%=image_tag "connect_people.png",height: "200px",width: "200px"%>
               <br><br>
               <div>
               <h5>Get connected with the people who are <strong>similar to you</strong></h5>
               </div>
             </div>
             <div class="large-4 columns panel callout text-center">

               <%=  image_tag "save_money.png",height: "200px",width: "200px" %>
                <br><br>
               <h5><strong>Save money</strong> for each trip that you make Join/make the trips that have been created</h5>


             </div>


             <div class="large-4 columns panel callout text-center">
               <%=  image_tag "save_car.png",height: "200px",width: "200px" %>
               <br><br>
               <h5>Get to know about the <strong>best deals</strong> and friendly travelling agencies from the people</h5>
             </div>
         </div>



          <div class=" panel callout text-justify">
            <ul>
              <li><h5> A community driven website to connect the similarly interested people who love exploring the places </h5></li>
              <li><h5><strong>YOU</strong> join the community where people make trip,<strong>YOU</strong> can join a trip organised by trusted people who might be your colleague, college mate, or may be from the same
                company. </h5></li>
            </ul>
          </div>
      </div>


      <div class="panel callout">
      <div  class="text-center"><h4><strong> Watch the video below to know more</strong></h4></div>
       <div class="flowplayer">
         <video>
           <source type="video/mp4" src="/my_video.mp4">
         </video>
       </div>
      </div>

     </div>













     <% @places.each do |place| %>

         <div class="panel large-3 columns callout">
           <strong>Recently explored places</strong>
           <div class="">
             <a href="/places/<%= place.id %>">
               <!--<ul data-orbit>
                          <%# place.place_albums.each do |img| %>
                              <li>
                                 <%#= image_tag "http://localhost:3000#{img.image_url.to_s}" %>
                              </li>
                          <%# end %>

                      </ul>-->
               <%unless place.place_albums.empty? %>
                <%= image_tag "#{@root_path}#{place.place_albums.first.image_url.to_s}" %>
               <% end %>
             </a>
           </div>
           <div class="panel">
             <%=raw place.description %>
           </div>
         </div>

     <% end %>


   </div>



<!--<div ng-controller="PlaceUnsignedCtrl">
    <button ng-click="getPlaces()" class="tiny">Get Places</button>
  {{1+2}}


  <div ng-repeat="place in places[0]">
    <a ng-href="place/{{place.id}}">




          <div ng-repeat="img in place.images" ng-hide="!isCurrentSlideIndex($index)">
          <img src = {{img.image.normal.url}} alt = "image" />
          </div>


    </a>
  </div>-->






<!--<div class="panel ">
    <div id="masonry-container" >


          <%# @places.each do |place| %>

            <div class="panel large-3 columns callout">
                <div class="">
                  <a href="/places/<%#= place.id %>">
                      &lt;!&ndash;<ul data-orbit>
                          <%# place.place_albums.each do |img| %>
                              <li>
                                 <%#= image_tag "http://localhost:3000#{img.image_url.to_s}" %>
                              </li>
                          <%# end %>

                      </ul>&ndash;&gt;

                    <%#= image_tag "#{@root_path}#{place.place_albums.first.image_url.to_s}" %>

                  </a>
                </div>
                <div class="panel">
                     <%#= place.description %>
                </div>
            </div>

          <%# end %>


    </div>

</div>-->

<div class="feedback fixed text-right">

    <%#=image_tag("feed_back.png") %>
    <%#=link_to image_tag("feed_back.png",height:"30px",width:"30px"),new_feed_back_path %>
</div>



</div>

<%= render 'layouts/footer' unless signed_in? %>