<% provide(:title, "Sign in") %>


<div class="row">
  <h1>Sign in</h1>
  <div class="large-6 columns">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Sign in', class: "button large " %>
    <% end %>

    <%= link_to "Sign up now!", signup_path, :class => "button" %>

    <!-- Horizontal line-->
    <div style="height: 2px; background-color: black; text-align: center">
                <span style="background-color: white; position: relative; top: -0.5em;">
                   OR
                </span>
    </div>
    <br>
    <h1> Sign in again through facebook</h1><br>
    <%= link_to "Login With Facebook","/auth/facebook",class:" button btn-facebook" %>


  </div>
</div>