<%= form_for(@feed_back) do |f| %>
  <% if @feed_back.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed_back.errors.count, "error") %> prohibited this feed_back from being saved:</h2>

      <ul>
      <% @feed_back.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%#= f.text_field :email %>

    <input id="feed_back_subject" type="email" name="feed_back[subject]" required>

  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content ,size:"20x20",resize:"none"%>
  </div>
  <div class="">
    <%= f.submit class:"button radius" %>
  </div>
<% end %>
